<h3>Please make your changes below!
<form method="POST" action="/users/show">
  <input type="hidden" name="_method" value="PATCH">
  <label>Username: <input type="text" name="username" placeholder="Mike" required/></label><br>
  <label>Email: <input type="text" name="email" placeholder="mike@mike.com"/></label><br>
  <label>Password: <input type="text" name="password" placeholder="strong password" required/></label><br>
  <br>
  <input type="submit" id="Submit" />
</form>