<h3>Please make your changes below!
<form action="/users/<%= @user %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label>Email: <input type="email" name="email" placeholder="mike@mike.com" required/></label><br>
  <label>Password: <input type="password" name="password" placeholder="strong password" required/></label><br>
  <br>
  <input type="submit" id="Submit" />
</form>
<br>
<br>
<a href="/views/index">Main Menu</a>
<br>
<a href="/logout"><button type="button">Logout</button></a>