<h4>Here's a list of all users!</h4>
<br>
<% @users.each do |user| %>
  <li> <%= user.username %></li>
  
<% end %>

<li><a href="/liquors/new">Create a new liquor!</a></li>
<br>
<li><a href="/users/edit">Edit your account information!</a></li>
