<h2>Welcome, <%= @user.username.capitalize %>!</h2>
<br>
<h3>Here are all the liquors you've tried:</h3>

<% @user.liquors.each do |liquor| %>
    <% liquor.name %>
<% end %>
<br>
<br>
<a href="/views/index">Main Menu</a>