
<h3>Welcome, <%= @user.username %>!</h3>
<% @liquors.each do |liquor| %>
  <li> <%= liquor.name %></li>
  <li> <%= liquor.description %></li>
  <li> <%= liquor.price %></li>
<% end %>

<li><a href="/liquors/new">Create a new liquor!</a></li>