<h2>Welcome, <%= current_user.username %>!</h2>
<br>
<h3>Here are all the liquors you've tried:</h3>

<% @liquors.each do |liquor| %>
    <a href="/liquors/liquor_show"><li><%= liquor.name %></li></a>
<% end %>
<br>
<br>
<a href="/views/index">Main Menu</a>
<br>
<a href="/liquors/new">Create a new liquor!</a>
<br>