<h2>Welcome, <%= @user.capitalize %>!</h2>
<br>
<h3>Here are all the liquors you've tried:</h3>

<% @user.liquors.each do |liquor| %>
    <% liquor.name %>
<% end %>
<br>
<br>
<a href="/views/index">Main Menu</a>
<br>
<a href="/liquors/new">Create a new liquor!</a>
<br>