<h1>Create a Liquor</h1>

<form action='/liquors/show' method='post'>
   <li>Enter Liquor Name: <input id='name' type='text' name='name' placeholder="Gud Whiskey" required></li>
   <li>Enter Description of Liquor: <input id='description' type=text name='description' placeholder="What do you like about it?" required></li>
   <li>Enter Price of Liquor: <input id='price' type=text name='price' placeholder="$20" required></li>
   <br>
  <input type='submit' value='Create'>
</form>

