<h1>Create a Liquor</h1>

<form action='/liquors/new' method='post'>
   <li>Enter Liquor Name: <input type='text' name='Name' ></li>
   <li>Enter Description of Liquor: <input type='text' name='Description'></li>
   <li>Enter Price of Liquor: <input type='text' name='Price'></li>
   <br>
  <input type='submit' value='Create'>
</form>

