<!--liquors.erb and users/show.erb are the same-->

<h3>Here's a list of all the whiskey in our database!</h3>
<br>
<% @liquors.each do |liquor| %>
  <li> <%= liquor.name %></li>
  <li> <%= liquor.description %></li>
  <li> <%= liquor.price %></li>
  <br>
<% end %>

<li><a href="/liquors/new">Create a new liquor!</a></li>
<br>
<a href="/views/index">Main Menu</a>
<!--FEATURE REQUEST: Add function to add existing liquor to current_user>