<h3>Here's a list of all the whiskey in our database!</h3>
<br>
<% @liquors.each do |liquor| %>
  <li> <%= liquor.name %> - Created by: <%= liquor.user.username %> </li>
  <li> <%= liquor.description %></li>
  <li> $<%= liquor.price %></li>
  <br>
<% end %>

<li><a href="/liquors/new">Create a new liquor!</a></li>
<br>
<a href="/home">Main Menu</a>
<br>
<a href="/logout"><button type="button">Logout</button></a>
<!--FEATURE REQUEST: Add feature that allows a user to add a liquor that another user created to their collection.
