<h2>Welcome to Whiskey, Bourbon & Rye!!</h2>

<h3>Main Menu</h3>
<ul>
  <li><a href="/liquors">See All the Liquors!</a></li>
  <li><a href="/users">See All the Users!</a></li>
  <li><a href="/liquors/new">Make a New Liquor!</a></li>
  <li><a href="/users/show">My Liquors!</a></li>
</ul>
<br>
<br>
<a href="/logout"><button type="button">Logout</button></a>