<h2>Welome to Whiskey, Bourbon & Rye!!</h2>

<h3>Menu</h3>
<ul>
  <li><a href="/liquors">See All the Liquors!</a></li>
  <li><a href="/users">See All the Users!</a></li>
  <li><a href="/liquors/new">Make a New Liquor!</a></li>
</ul>