<fieldset>
  <legend>Whiskey, Bourbon & Rye Signup!</legend>
  <form method="POST" action="/signup">
    <label>Username: <input type="text" name="username" required/></label><br>
    <label>Email: <input type="text" name="email" required/></label><br>
    <label>Password: <input type="text" name="password" required/></label><br>
    <input type="submit" id="Submit" />
  </form>
</fieldset>