<fieldset>
  <legend>Whiskey, Bourbon & Rye Signup!</legend>
  <form method="POST" action="/signup">
    <label>Username: <input type="text" name="username" placeholder="Mike" required/></label><br>
    <label>Email: <input type="text" name="email" placeholder="mike@mike.com"/></label><br>
    <label>Password: <input type="password" name="password" placeholder="strong password" required/></label><br>
    <br>
    <input type="submit" id="Submit" />
  </form>
  <br>
</fieldset>
<br>
<legend>Login Here!</legend>
    <form method="POST" action="/login">
      <label>Username:</label><input type="text" name="username" placeholder="Your Username"/><br>
      <label>Password:</label><input type="password" name="password" placeholder="Your Password"/><br>
      <br>
      <input type="submit" id="submit" />
    </form>